<div class="devise-box">
  <h2>新規会員登録</h2>

  <div class="devise-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "名前", required: true %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", required: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(半角英数字6文字以上)", required: true %>
      </div>

      <div class="agreement-box">
        <div class="agreement">
          <em>会員規約</em>
          第1条（目的）
          本会員規約（以下「本規約」といいます）は、testtest（以下「当社」といいます）が運営・提供するTabio会員サービス（以下「本サービス」といいます）を利用する会員又はカード会員全てに適用される規約を定めたものです。

          第2条（定義）
          1．「本サービス」とは、本規約に同意した会員又はカード会員に対して、当社が提供する会員サービスプログラムのことをいいます。
          2．「Tabioアプリ」とは、当社が開発し、当社が指定する各種デバイスで使用することができるプログラムソフトのことをいいます。
          3．「会員」とは、本規約の内容を全て同意した上で、所定の手続きに従い会員登録を申請し、当社システムに会員登録された個人をいいます。
          4．「カード会員」とは、当社又は加盟店が展開する各ブランド店舗において会員カードの発行を受けた個人のことをいいます。
          5．「会員カード」とは、当社又は加盟店が展開する各ブランド店舗において、Tabioアプリ等による本サービスに会員登録できない方に配布するカードのことをいいます。
          6．「会員ランク」とは、本商品の購入額に応じてランク1からランク5までのいずれかに設定し、設定されたランクに応じた特典を受けることができるサービスのことをいいます。
          7．「Tabioポイント」とは、当社が会員又はカード会員に対して、本商品の購入額に応じて会員ランクに定める割合により付与するポイントのことを言います。
          8．「オンラインストア」とは、当社直営のTabioオンラインストアを含む当社が出店する楽天市場、Yahoo！ショッピング、Amazon.co.jp、ZOZOTOWN等の通販サイトのことをいいます。
          9．「加盟店」とは、当社が展開するタビオフランチャイズ・チェーンに加盟するフランチャイジーのことをいいます。
          10．「本商品」とは、当社が直接又は第三者と提携して研究・企画・開発し、若しくは当社に帰属する特許権、実用新案権、意匠権、著作権、ノウハウ等により製造された靴下、及びその関連商品のことをいいます。

          第3条（会員登録）
          会員登録の希望者は、本規約の全てに同意した上で、希望者自ら会員登録申請を行うものとします。希望者本人以外からの登録申請は認められません。ただし、カード会員は、会員カードに記載のID、ピンコードでTabioアプリにログインすることで会員となることができます。

          第4条（登録情報の変更）
          1．会員は、当社に対して登録申請をした事項の全部又は一部に変更が生じた場合には、当社が別途指定する方法により、速やかに登録内容を変更しなければなりません。万一、当該変更を行うまでに変更前の登録内容に基づいて処理した当社の行為は適正且つ有効なものとみなします。また、当社が会員に対して行う通知について到達しない場合も、変更前の情報に基づき発送又は発信し、通常到達すべき相当期間経過後に到達したものとみなします。
          2．当社は、会員が登録内容の変更を行わなかったことにより何らかの損害を被ったとしても、一切の責任を負わないものとします。

          第5条（利用停止及び会員登録抹消）
          当社は、会員又はカード会員が以下に定める各号の何れかに該当した場合、事前に通知すること無く、当該会員又はカード会員に対して本サービスの利用停止、会員登録抹消その他当社が適当と考える措置を講ずることができるものとします。当社は上記措置を講じた後、当該会員へ通知を行います。ただし、カード会員には通知を行いません。なお、上記措置が講じられた場合において、当該会員又はカード会員は、当社又は加盟店に対して既に発生した支払債務又は本規約上発生した債務等一切の義務を免れるものではありません。また、上記措置によりTabioポイントが消滅する等当該会員又はカード会員に不利益、損害が生じた場合でも、当社は一切の責任を負わないものとします。
          （1）会員又はカード会員が、本規約の各条項の一に違反したとき。
          （2）他の会員又はカード会員、第三者、当社又は加盟店に迷惑、不利益若しくは損害を与える行為、又はそれらの恐れのある行為。
          （3）公序良俗に反する行為その他法令法規条例等に違反する行為又はその恐れのある行為。
          （4）過去に当社又は加盟店の提供するサービスに関する規約（本規約を含みます）の何れかに違反したことにより、登録の抹消等の処分を受けていたことが判明したとき。
          （5）当社に登録された内容に虚偽の事項が含まれていることが判明したとき。
          （6）当社又は加盟店の提供するサービスに関して、正当な理由無く、商品代金などの支払債務の履行遅延、不能、本商品などの受け取り拒否、その他の債務不履行があったことが判明したとき。
          （7）本規約第16条（禁止事項）の行為を行った、又は行っていたことが判明したとき。
          （8）会員が反社会的勢力に属している、又は反社会的勢力と関係があることが判明したとき。
          （9）その他当社が別途定める規約に違反したとき。

          第6条（退会）
          1．会員は、別途定める当社所定の手続を経て、いつでも退会することができるものとします。なお、Tabioアプリの削除又はスマートフォン等の機種変更を行っても退会とはならないものとします。
          2．退会時期は会員が退会申請を行い、当社に到達した時点とします。ただし、退会後も当社又は加盟店に対して既に発生した支払債務又は本規約上発生した債務等一切の義務を免れるものではありません。
          3．会員は退会した時点で、本サービスにおける一切の権利を喪失するものとします。なお、残Tabioポイントも消滅するものとし、別のサービスに交換及び換金はできません。
          4．会員が死亡したときは、その時点をもって退会したものとみなします。

          第7条（会員の地位の貸与・譲渡）
          1．会員の地位及び権利を第三者へ貸与、売買等譲渡、質入れ等担保供与をすることはできません。
          2．前項に反して、貸与、譲渡、質入れ等担保供与により会員その他の第三者に損害が生じても当社は一切の責任を負わないものとします。
          3．本条に違反し当社又は加盟店に損害が発生した場合は、会員が第三者と連帯してその全額を賠償するものします。

          第8条（ID等の管理）
          1．会員は、当社から付与されたTabioID及びPINコード、並びに会員自身で設定したログインするために必要な情報（以下総称して「ID等」といいます）を厳重に管理・保管する義務を負うものとします。
          2．会員は、ID等を第三者へ貸与、売買等譲渡、開示又は漏洩等をしてはならないものとします。
          3．会員は、ID等が第三者によって不正に使用されている場合又はそのおそれがある場合には、直ちに当社に連絡しなければならないものとします。
          4．会員は、ID等の管理上（スマートフォン等の紛失を含みます）又は使用上の過失並びに第三者の無断使用等に起因する損害については、会員自身が責任を負うものとし、当社は一切の責任を負わないものとします。

          第9条（個人情報の利用と管理）
          1．会員が当社に登録した事項及び本サービス利用に係る履歴情報等、当社が本規約に係る業務に関して取得し、又は記録した情報（以下「会員情報」といいます）は当社が所有します。当社は、会員情報を本規約で定める場合のほか、別途当社が定める指針に基づき、適切に取り扱うものとします。
          2．当社は、会員情報を、本サービスの提供にかかる業務以外の目的に使用しないものとし、また第三者に対して開示、提供しないものとします。但し、次の各号に定める事項について、会員は当社による会員情報の利用及び提供にあらかじめ同意するものとします。
          （1）当社が認めた第三者又は業務提携会社に対して、本サービスの業務を委託する目的で会員情報を提供すること。
          （2）会員に対し、広告宣伝、サービス提供、その他告知等の目的による電子メール、プッシュ通知又は郵便物等を送付すること。
          （3）マーケティング、新規サービス開発又はサービス向上目的のため、当社が会員情報の属性やデータを集計・分析し、その情報を当社が利用すること
          （4）マーケティング、新規サービス開発又はサービス向上目的のため、当社が会員情報の属性やデータを集計・分析し、個人の識別・特定が通常できない状態に加工した情報を作成し、その情報を当社が認めた第三者に提供すること。
          （5）当社の関係会社が行うサービスへの入会又は提供のために、会員情報を提供又は利用すること。
          （6）会員から会員情報の利用に関する同意を求めるための電子メール、又はプッシュ通知等を送付すること。
          （7）会員が当社、他の会員又は第三者に不利益を及ぼす行為を行ったと当社が判断した場合において、当社が当該会員に関する情報を他の会員、当該第三者、関係当局又は関連諸機関に通知すること。
          （8）会員の同意を得たうえで会員情報を利用又は提供すること。
          （9）裁判所の発行する令状、捜査事項照会書又は関係官庁の要請に基づいて開示すること。
          （10）弁護士、公認会計士等の法律により秘密保持義務を課された国家資格保有者の開示請求に基づき開示すること。
          3．会員は、本サービスの利用上発生した当社、会員同士、加盟サイト又は当社の業務提携会社間の苦情、クレーム、訴訟について、当社が要求する事項(文書、口頭による交渉を含みますがこれに限定されません)をすべて当社に開示するものとします。

          第10条（Tabioポイントの付与、利用及び失効）
          1．会員は、下記の方法で本商品を購入することによりTabioポイントの付与を受けることができます。但し、一部除外品があります。
          ①当社又は加盟店が展開する各ブランド店舗において購入する方法但し、一部取扱いのない店舗があります。
          ②Tabioアプリ又はTabioオンラインストアにおいて購入する方法
          ③電話で購入する方法
          2．第1項①の方法により購入する場合は、決済時にスマートフォン等デバイスによるTabioアプリを提示することで、Tabioポイントの付与を受けられるものとします。
          3．第1項②の方法により購入する場合は、当社が指定する方法で会員サイトにログインした上で本商品を購入することで、Tabioポイントの付与を受けられるものとします。
          4．第1項③の方法により購入する場合は、TabioID、お名前等で当社が会員であることが確認できた場合に、Tabioポイントの付与を受けられるものとします。
          5．Tabioポイント、株主優待カード券、及びその他割引サービス券等のサービスを利用した場合は、値引き後の金額分のポイントが付与されるものとします。
          6．Tabioポイントを付与する時期は、第1項①による本商品購入時の付与については原則商品代金決済時に付与するものとします。第1項②による本商品購入の場合は、本商品注文確定時に付与するものとします。第2項③による本商品購入の場合は、担当者が注文を承り注文が確定した後に手動で付与するものとします。キャンペーン等のTabioポイント付与については、キャンペーン等で設定した時期に従うものとします。
          7．購入時のTabioポイント付与の対象となるのは、当社が指定する本商品のみとし、ノベルティは対象外とします。
          8．Tabioポイントは本商品購入に基づくTabioポイント最終付与日から1年間、次回の本商品購入によるTabioポイント付与がなければすべて失効します。また、Tabioアプリをインストールしてから一度も本商品購入によるTabioポイント付与がない場合は、最初にポイントを付与した日から1年で、すべてのTabioポイントが失効します。
          9．第1項②及び第1項③による本商品購入において、第6項の本商品注文確定後に会員都合による注文取消し又は債務不履行があった場合は、Tabioポイント付与の取消しを行った上で、Tabioポイント失効基準日は前回の本商品購入によるTabioポイント付与時点、又は本商品の購入がない場合は最初にTabioポイントが付与された時点に遡及し、その時から1年で失効するものとします。なお、Tabioポイント付与を取り消した時点で1年が経過していた場合、Tabioポイントは付与取消を行ったと同時に失効するものとします。
          10．第1項②及び第1項③による本商品購入において、第6項の本商品注文確定後に欠品等当社都合による注文取消しがあった場合は、Tabioポイント付与の取消しを行うものとしますが、Tabioポイントの失効期限は当該本商品注文確定日から1年とします。
          11．Tabioポイントは会員がTabioアプリ、当社及び加盟店の展開する各ブランド店舗又はTabioオンラインストア等において当社の本商品を購入する際に、1ポイントにつき1円の割引サービスを受けられるものとします。ただし、カード会員は当社及び加盟店の展開する各ブランド店舗のみで使用できるものとします。
          12．Tabioポイントの利用方法は下記のとおりとします。
          ①当社及び加盟店の展開する各ブランド店舗で本商品を購入する場合、会員又はカード会員が代金決済前時にTabioポイント使用を口頭で申し出るものとします。ただし、ポイントが使用できない店舗が一部あります。
          ②Tabioアプリ、Tabioオンラインストア又は電話で本商品を購入する場合、購入前時に当社が指定する方法でTabioポイント使用の意思表示を行うものとします。

          第11条（Tabioポイントの失効又は取消し）
          当社は、以下の各項目のいずれかに該当する場合、会員又はカード会員のTabioポイントの一部又は全部を失効又は取消すことができるものとし、失効又は取消されたTabioポイントに対して当社は何らの補償も行わず、一切の責任を負わないものとします。
          （1）当社が第5条に基づき本サービスの利用を停止又は登録を抹消した場合。
          （2）当社に届け出た情報に虚偽があった場合。
          （3）会員又はカード会員が不正な手段によってTabioポイントを取得した場合。
          （4）会員又はカード会員が本規約に違反した場合。
          （5）当社が会員又はカード会員に付与したTabioポイントを取消すことが適当と判断した場合。

          第12条（税金及び手数料）
          Tabioポイントの利用にともない発生する税金や付帯費用は、会員又はカード会員が負担するものとします。

          第13条（店舗での返品・交換）
          1．当社又は加盟店が展開する各ブランド店舗で購入した本商品の返品については、以下の場合に限り受け付けるものとします。
          （1）本商品に瑕疵があった場合。
          （2）上記（1）に該当せず、本商品購入後8日以内で、かつ以下のいずれにも該当しない場合。
          ①使用済み、お直し、洗濯、クリーニングがされた場合。
          ②レシートを紛失した場合。
          ③本商品タグ・ラベルを切り離したり、紛失した場合。
          ④会員又はカード会員のもとで本商品に臭い、汚れ、キズが生じた場合。
          ⑤パッケージが本商品の一部となっているもので、パッケージを開封した場合。
          ⑥福袋・セール商品・アウトレット商品・予約商品である場合。
          2．会員又はカード会員は、当社が別途定める手順に従い返品を購入した店舗に申請するものとし、当社は会員又はカード会員が支払った代金額、及び返品対象本商品の購入に際して使用したTabioポイントを返還し又は代品に交換します。なお、代品への交換を希望された場合、本商品の欠品等を理由に交換できないことがあります。
          3．会員又はカード会員は、本商品の返品を行った場合、会員又はカード会員が返品対象本商品の購入に際して取得したTabioポイントを当社に返還するものとします。なお、Tabioポイントの減算前に既にTabioポイントを利用していた場合は減算の結果マイナスとなることがあります。

          第14条（通信販売における返品・交換）
          1．オンラインストアで購入した本商品等の返品については、以下の場合に限り受け付けるものとします。
          （1）本商品に瑕疵があった場合。
          （2）掲載間違いがあった場合。
          （3）ご注文内容と異なる本商品が到着した場合。
          （4）本商品が配送中に破損した場合。
          （5）上記（1）から（4）のいずれにも該当せず、本商品を当社配送センターより運送業者に出荷した時から8日以内で、かつ以下のいずれにも該当しない場合。
          なお、輸送中の事故により遅延した場合は当社と会員で協議を行うものとします。
          ①使用済み、お直し、洗濯、クリーニングがされた場合。
          ②商品タグ・ラベルを切り離したり、紛失した場合。
          ③返送時の本商品等（箱、商品の付属品を含む）の状態がお届け時と比べて毀損、汚損、紛失等している場合。
          ④会員のもとで本商品等に臭い、汚れ、キズが生じた場合。
          ⑤パッケージが商品の一部となっているもので、パッケージを開封した場合。
          ⑥福袋・セール商品・アウトレット商品・予約商品である場合。
          ⑦会員都合で出荷した時から8日以内に受け取りが完了しなかった場合。
          2．会員は、当社が別途定める手順に従い返品を申請するものとし、当社は会員が支払った代金額、及び返品対象本商品の購入に際して使用したTabioポイントを返還し又は代品に交換します。又、前項（1）から（4）の返送にかかる費用は当社が負担しますが、前項（5）の返送にかかる費用及び返金にかかる振込手数料は会員が負担するものとします。なお、代品への交換を希望された場合、本商品の欠品等を理由に交換できないことがあります。
          3．会員は、本商品の返品を行った場合、会員が返品対象本商品の購入に際して取得したTabioポイントを当社に返還するものとします。なお、Tabioポイントの減算前に既にTabioポイントを利用していた場合は減算の結果マイナスとなることがあります。
          4．本商品の発送処理後から本商品到着までの間は、会員は当社の責めに帰すべき事由がある場合を除き、注文の取消しをすることができません。（本商品到着後の返品については、本条第1項に定めるとおりとします）

          第15条（禁止事項）
          会員又はカード会員は、以下の行為を一切行わないものとします。万一、これに違反し、当社、加盟店又は第三者に損害を与えた場合は、当該会員又はカード会員がその損害の全てを賠償する責任を負うものとします。また、当社は当該会員又はカード会員の違反の度合いにより、第5条に基づき適当と考えられる措置を講ずるものとします。
          （1）他の会員、他のカード会員、第三者、当社又は加盟店に迷惑、不利益若しくは損害を与える行為、又はそれらの恐れのある行為。
          （2）他の会員、他のカード会員、第三者、当社又は加盟店の著作権等知的財産権、肖像権、人格権、プライバシー権、パブリシティー権その他の権利を侵害する行為、又はそれらの恐れのある行為。
          （3）当社の許諾を得ず、本サービスを商業目的で利用する行為。
          （4）公序良俗に反する行為その他法令法規条例等に違反する行為又はその恐れのある行為。
          （5）Tabioアプリ、オンラインストア又は当社が運営するWEBサイトを通じて入手したコンテンツを私的利用の範囲を超えて使用する行為。
          （6）Tabioアプリ、オンラインストア又は当社が運営するWEBサイト上の情報を正当な理由なく収集、蓄積、保存又は第三者に提供する行為。
          （7）当社が提供するソフトウェア、ハードウェア、通信機器の機能を妨害、破壊、制限、誤動作するように設計されたコンピューターウィルス、コード、ファイル、実行プログラム等をTabioアプリ、オンラインストア又は当社が運営するWEBサイトにアップロード、メール又は不法侵入等の手段で送信する行為。
          （8）その他当社の信用を毀損・失墜させる等の当社が不適当であると判断する行為。

          第16条（知的財産権）
          1．Tabioアプリ、オンラインストア又は当社が運営するWEBサイトを通じて提供されるコンテンツの知的財産権は、全て当社又は当社に使用許諾を与えた第三者に帰属するものとし、本規約に定める登録に基づく本サービスの利用許諾は、当社ウェブサイト又は本サービスに関する当社の知的財産権の使用許諾を意味するものではありません。
          2．Tabioアプリ、オンラインストア又は当社が運営するWEBサイトにおいて、会員が投稿したレビュー並びに画像等の知的財産権は当社に帰属するものとし、当社はそれを自由に複製、利用することに会員は予め承諾するものとします。
          3．会員又はカード会員は、Tabioアプリ、オンラインストア又は当社が運営するWEBサイトにおいて、他の会員が投稿したレビュー並びに画像等は当社に知的財産権が帰属しており、許諾なく使用をしてはならないものとします。
          4．目的の如何を問わず、Tabioアプリ、オンラインストア又は当社が運営するWEBサイトのコンテンツの無断複製、無断転載その他の無断二次利用行為等の国内及び国外の著作権法及びその他の法令により禁止される行為が発見された場合には、当社は直ちに法的措置をとることができるものとします。万一、当社に損害が発生した場合は、会員又はカード会員がその損害を賠償しなければならないものとします。
          5．本条の規定に違反して第三者との間で何らかの紛争が生じた場合、会員又はカード会員はその責任と費用において、かかる紛争を解決するとともに、当社に何らの損害、損失又は不利益等を与えないものとします。

          第17条（サービスの中断又は中止）
          1．当社は、次の各号に該当する場合は、会員又はカード会員に事前に通知することなく本サービスの一部又は全部を中断・停止することがあります。
          （1）本サービスのシステム及び機器の保守、点検、修理、改修、変更を定期的又は緊急に行う場合。
          （2）地震、噴火、洪水、津波等の天災又は火災、停電等により、本サービスの提供が困難な場合。
          （3）戦争、暴動、争乱、労働争議等により本サービスの提供ができなくなった場合。
          （4）本サービスのシステム及び機器の障害、破損、破壊、妨害行為又はネットワークの障害の発生等により運営ができなくなった場合。
          （5）その他当社が本サービスの一時的な中断、停止が必要と判断した場合。
          2．会員又はカード会員は、本条に基づく中断や停止が当社からの通知なく発生することがあることを予め承諾するものとし、これに起因して会員又は第三者が被ったいかなる不利益、損害についても、当社は一切の責任を負わないものとします

          第18条（規約の範囲及び変更）
          1．Tabioアプリ、オンラインストア上における表示又はその他の方法により規定する個別規約及び当社が随時会員又はカード会員に対し通知する追加規約は、本規約の一部を構成します。本規約の定めと個別規約又は追加規約の定めが異なる場合には、個別規約又は追加規約の定めが優先するものとします。
          2．当社は、会員又はカード会員の承諾を得ることなく本規約をいつでも変更することができるものとします。その場合、本サービスの利用条件は、変更後の規約によります。変更後の規約についても、当社が別途定める場合を除いて、Tabioアプリ又はオンラインストア上に表示し、2週間経過後に効力が生じるものとします。また、当該変更により会員又はカード会員に不利益が生じた場合でも、当社は一切の責任を負わないものとします。

          第19条（免責事項）
          1．Tabioアプリ、オンラインストア又は当社が運営するWEBサイトから他のウェブサイト若しくはリソースへのリンク又は他のウェブサイト若しくはリソースからTabioアプリ、オンラインストア又は当社が運営するWEBサイトへのリンクを提供している場合、当社は、当該リンク先の内容、利用及びその結果（適法性、有効性、正確性、確実性、安全性、最新性及び完全性を含みますが、これらに限られません）については、いかなる責任も負わないものとします。なお、当社は、リンク先のウェブサイト又はリソースの内容が、違法又はTabioアプリ、オンラインストア又は当社が運営するWEBサイトの管理・運営上不適切であると判断した場合は、会員に何らの通知を要することなく、当該リンク先を削除することができるものとします。
          2．Tabioアプリ、オンラインストア又は当社が運営するWEBサイトで広告又は宣伝を行っている広告主との取引がある場合、会員は、自らの判断と責任により、当該広告主との間で取引を行うものであり、本商品等の代金の支払、契約条件の決定、保証、担保責任、ライセンスの有無等の取引に関する内容・条件等に関して、当社が保証するものではなく、Tabioアプリ、オンラインストア又は当社が運営するWEBサイト中に掲載されている広告又は宣伝を経由して行われる取引に起因して、会員に何らかの損害が発生しても一切責任を負わないものとします。
          3．会員又はカード会員が、本サービスを利用することにより、他の会員、カード会員又は第三者に対して何らかの損害等を与えた場合は、当該会員はその責任と費用においてこれを解決し、当社又は加盟店には一切の損害、損失、不利益等を与えないものとします。
          4．会員が、自身の過失により本サービス利用中にスマートフォン等のデバイスを破損した場合、当社又は加盟店は一切の責任を負わないものとします。
          5．会員が、自身の過失によりID等を失念し本サービスにログインが不能となった場合において、当社はTabioポイントを補償するものではありません。
          6．当社又は加盟店は、会員又はカード会員の本サービス利用により生じる一切の損害(精神的苦痛、又はその他の金銭的損失を含む一切の不利益)につき、当社又は加盟店に故意又は重過失がない限り責任を負わないものとし、責任の範囲は直接且つ通常の損害に限られるものとします。
          7．当社は、当社が相当の安全策を講じたにもかかわらず、本サービスに関するデータへの不正アクセス、コンピューターウィルスの混入等の不正行為が行われ、これに起因して会員又はカード会員に損害が生じた場合において、一切その責任を負わないものとします。

          第20条（会員カード）
          1．当社又は加盟店が展開する各ブランド店舗において会員カードの発行を受け、署名した本人のみが本サービスを受けられるものとします。署名された者以外は会員カードを使用することができません。
          2．カード会員は、当社又は加盟店が展開する各ブランド店舗で本商品の購入時に会員カードを提示することでTabioポイントの付与を受けられるものとします。提示のない場合はTabioポイントの付与を受けることができません。また、オンラインストアで会員カードを使用することはできません。
          3．Tabioポイントの付与は第11条のとおりとします。付与されたTabioポイントは、当社又は加盟店が展開する各ブランド店舗のみで使用できるものとし、オンラインストアで使用することはできません。
          4．会員カードを、第三者へ貸与、譲渡、売買又は相続することはできないものとします。
          5．会員カードを、現金と引き換えることはできないものとします。
          6．会員カードの汚損、紛失、盗難によるTabio ポイントの失効または不正 利用による損害について、当社は一切責任を負いません。また、Tabioポイントの再発行はできません。
          7．会員カードのTabio ポイントの有効期限、失効については第10条、第11条を適用するものとします。
          8．カード会員が、Tabio アプリを導入する場合、カード会員自身でTabioポイントの移行をするものとします。ただし、Tabio アプリから会員カードへのTabio ポイントの移行はできないものとします。
          9．カード会員は、本サービスの変更又は廃止等により会員カードが廃止されることがあることを予め了承するものとし、会員カードの廃止により、カード会員が不利益を被ったとしても当社は一切責任を負わないものとします。

          第21条（その他）
          1．本規約又は当社の対応により解決できない問題が生じた場合には、当社と会員間で双方誠意を持って協議し、これを解決するものとします。
          2．本規約に関して訴訟の必要が生じた場合には、大阪地方裁判所を第一審の専属合意管轄裁判所とします。

          通信販売規約
          第1条（目的）
          1．本規約は、タビオ株式会社（以下「当社」といいます。）が提供・運営する「Tabioアプリ」、「Tabioオンラインストア」及び電話（以下、総称して「ストア」といいます。）において当社の本商品等を販売するサービス（以下、「通信販売」といいます。）の利用について定めるものです。
          2．当社が提供するTabio会員サービス（以下「会員サービス」といいます）の会員規約に同意し、会員となった者（以下「会員」といいます）が通信販売を利用する場合は、本規約を誠実に遵守するものとします。

          第2条（定義）
          1．「Tabioアプリ」とは、当社が開発し、当社が指定する各種デバイスで使用することができるプログラムソフトのことをいいます。
          2．「Tabioオンラインストア」とは、当社直営の通信販売サイトのことをいいます。
          3．「会員」とは、当社が提供する会員サービスの会員規約の内容を全て同意した上で、所定の手続きに従い会員登録を申請し、当社システムに会員登録された個人をいいます。
          4．「本商品」とは、当社が直接又は第三者と提携して研究・企画・開発し、若しくは当社に帰属する特許権、実用新案権、意匠権、著作権、ノウハウ等により製造された靴下、及びその関連商品のことをいいます。
          5．「ノベルティ」とは、包装、ギフトボックスなど本商品に関連する商品のことをいいます。本商品とあわせて「本商品等」と総称します。

          第3条（範囲）
          1．本規約は、会員と当社との間の通信販売に関する一切の関係に適用します。
          2．本規約は、会員サービスの会員規約を構成する一つとします。

          第4条（本規約の変更）
          当社は、会員の承諾を得ることなく本規約をいつでも変更することができるものとします。変更後の規約については、Tabioアプリ又はTabioオンラインストア上に表示し、2週間経過後に効力が生じるものとします。また、当該変更により会員に不利益が生じた場合でも、当社は一切の責任を負わないものとします。

          第5条（利用の停止）
          会員が会員サービスの会員規約第5条乃至7条に該当し、会員サービスの利用停止又は会員登録抹消となった時は、通信販売の利用も停止するものとします。

          第6条（通信機器）
          1．会員は、自己の責任において、通信販売を利用するために必要なPC端末、スマートフォン等デバイス、その他通信機器、通信回線その他の設備を保持し管理するものとします。
          2．会員が通信販売を利用するために必要な通信回線等の利用料金は、会員が直接これを負担するものとします。

          第7条（禁止事項）
          会員は、通信販売の利用にあたり、会員サービスの会員規約第16条に定める行為又は通信販売の運営に支障をきたすような行為を一切しないものとします。

          第8条（商品画像について）
          当社は、ストアに掲載する商品画像等については、現物の色合いや質感等を再現できるよう細心の注意を払っておりますが、会員は到着した商品と色合いや質感が相違している場合があることを予め承諾するものとします。

          第9条（商品の購入）
          1．会員は、本規約に基づき本商品等をストアで購入することが出来ます。
          2．売買契約成立時期は下記のとおりとします。
          （1）Tabioアプリ又はTabioオンラインストアにおいて購入する場合、会員が注文確定のボタンを押下した後に、当社から注文内容を確認し、承諾する旨の電子承諾通知が会員に到達した時点で成立するものとします。
          （2）電話で購入する場合、電話で当社の担当者が注文を承諾し、本商品等の出荷を行った時点で成立するものとします。
          3．ストアで購入する場合、キャンセルはご注文から配送手続に着手するまで（物流システムに情報を送るまで）の期間可能です。
          4．会員は、ストア上で表示される本商品等について、在庫がある旨の表示があっても在庫切れとなっている場合があることを予め承諾するものとします。
          5．当社は、会員に通信販売について不正な行為又は不適当な行為があった場合は、売買契約の取消、解除その他の適切な措置を講ずることができるものとします。

          第10条（支払方法）
          1．本商品等の支払い金額は、消費税を含む本商品等の購入代金、配送料及びこれに係わる取り扱い手数料の合計となります。
          2．本商品等の支払いに関しては、銀行振込、会員本人名義のクレジットカード、代金引換、キャリア決済及び後払い決済が選択できるものとします。
          3．クレジットカード、キャリア決済、後払い決済の支払いに際して、会員は決済会社又は決済代行業者との間で別途契約する条件に従うものとします。会員と決済会社又は決済代行業者の間で紛争が発生した場合は、会員と決済会社又は決済代行業者との間で責任をもって解決するものとします。

          第11条（所有権について）
          本商品等の所有権は、会員が代金の支払いを完了した時に当社より会員に移転するものとします。
          上記にかかわらず、クレジットカードによる支払いを選択された場合、キャリア決済を選択された場合、又は後払いを選択された場合には、決済会社の利用規約又は決済代行業者の利用規約等の条件に従い、注文にかかる本商品等の所有権が決済会社又は決済代行業者等に留保される場合があります。
          詳しくは決済会社又は決済代行業者の会員規約、利用規約等をご確認ください。

          第12条（配送方法・配送料金）
          1．会員がストアで購入した本商品等は、当社が指定する配送業者で配送いたします。
          2．配送料は当社が指定する料金となります。
          3．配送に関して時間指定を希望する場合は、当社が指定する配送業者の時間指定区分によるものとします。
          4．当社は、第9条の売買契約成立後、注文内容に沿って速やかに本商品等の配送手続を行いますが、会員は配達地域や配送状況により配達が遅延する場合があることを予め承諾するものとします。

          第13条（返品・交換）
          ストアで購入した本商品等の返品については、会員サービスの会員規約第15条に定めるとおりとします。

          第14条（会員に対する通知）
          当社が、会員に対する通信販売に関する通知、お知らせ等は会員への電話又はメール送信、Tabioアプリ内又はTabioオンラインストア上に表示し、通常到達すべき相当期間経過後に到達したものとみなします。

          第15条（個人情報の取扱）
          通信販売を利用する会員の個人情報の取扱については、会員サービスの会員規約第9条を準用します。

          第16条（通信販売の中断及び中止）
          1．当社は、次の各号に該当する場合は、会員に事前に通知することなく通信販売の一部又は全部を中断・停止することがあります。
          （1）通信販売のシステム及び機器の保守、点検、修理、改修、変更を定期的又は緊急に行う場合。
          （2）地震、噴火、洪水、津波等の天災又は火災、停電等により、通信販売の提供が困難な場合。
          （3）戦争、暴動、争乱、労働争議等により通信販売の提供ができなくなった場合。
          （4）通信販売のシステム及び機器の障害、破損、破壊、妨害行為又はネットワークの障害の発生等により運営ができなくなった場合。
          （5）その他当社が通信販売の一時的な中断、停止が必要と判断した場合。
          2．会員は、本条に基づく中断や停止が当社からの通知なく発生することがあることを予め承諾するものとし、これに起因して会員又は第三者が被ったいかなる不利益、損害について、当社は一切の責任を負わないものとします

          第17条（その他）
          本規約に定めのない事項は会員サービスの会員規約の定めに従うものとします。
        </div>
      </div>
      
      <div class="actions registration">
        <%= f.submit "会員規約に同意して登録", class: "submit" %>
      </div>
    <% end %>
  </div>
</div>