<h1>おりがみおくるみ</h1>
<p>くるむとかわいいおりがみおくるみ</p>

<%= link_to "おりがみおくるみとは" %>
<%= link_to "会員登録", "#" %>
<%= link_to "検索", "#" %>
<%= link_to "ショッピングカート", "#" %>

<%= link_to "商品を登録する", new_item_path %>

<div class="top-img">後で画像いれる</div>

<h5>おりがみおくるみ</h5>

<% @items.each do |item| %>
  <%= link_to "#" do %>
    <div class="item">
      <%= image_tag item.images[0].variant(resize:'100x100') %>
      <%= item.name %>
      <%= item.price %>
    </div>
  <% end %>
<% end %>

<h5>オリジナルおくるみをつくる</h5>
<%# 自分でカスタマイズもできる %>

<h5>ギフトセット</h5>

<div class="item">
  <div class="item-img">後で画像いれる</div>
  <%= link_to "購入する", "#" %>
  <%= link_to "カートに追加", "#" %>
</div>
<div class="item">
  <div class="item-img">後で画像いれる</div>
  <%= link_to "購入する", "#" %>
  <%= link_to "カートに追加", "#" %>
</div>
<div class="item">
  <div class="item-img">後で画像いれる</div>
  <%= link_to "購入する", "#" %>
  <%= link_to "カートに追加", "#" %>
</div>