<div class="top-box">
  <%= image_tag "top-img.jpg", class: "top-img" %>

  <div class="information">
    infomationの表示
  </div>
</div>

<div class="main-box">
  <h2>特集</h2>
  <ul class="pickup">
    <li>
      <%= image_tag "coon.jpeg" %>
      <p>Vegitable</p>
    </li>
    <li>
      <%= image_tag "animal.webp" %>
      <p>Original</p>
    </li>
    <li>
      <%= image_tag "gift.webp" %>
      <p>Gift</p>
    </li>
  </ul>
  <h2>ランキング</h2>
  <ul class="pickup-items">
    <% @items.each do |item| %>
      <li>
        <%= link_to  item_orders_path(item) do %>
          <%= image_tag item.images[0] %>
          <p><%= item.name %><br><%= item.price %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h2>新着商品</h2>
  <ul class="pickup-items">
    <% @items.each do |item| %>
      <li>
        <%= link_to  item_orders_path(item) do %>
          <%= image_tag item.images[0] %>
          <p><%= item.name %><br><%= item.price %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="announce">
  <div class="announce-sns">
    <h6>スマートフォン<br>アプリ</h6>
    <p>
      商品の購入、店舗の在庫確認、<br>
      アプリ限定のコンテンツやクーポンが<br>
      もらえるお得なアプリ。<br>
    </p>
    <p>詳しく見る<i class="fa fa-chevron-circle-right "></i> </p>
  </div>
  <div class="announce-sns">
    <h6>LINE公式<br>アカウント</h6>
    <p>
      友だち追加で、<br>
      商品の最新情報や<br>n
      お得な情報をお届け。<br>
    </p>
    <p>詳しく見る<i class="fa fa-chevron-circle-right "></i> </p>
  </div>
</div>