<header>
  <div class="header-top">
    <%= image_tag "title-logo.png", class: "title-logo" %>
    <div class="right-header">
      <% if user_signed_in? %>
        <%= link_to current_user.name, "#" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "会員登録", new_user_registration_path %>
      <% end %>
      <%= link_to "#" do %>
        <i class="material-icons">search</i>
      <% end %>
      <%= link_to "#" do %>
        <i class="material-icons">shopping_cart</i>
      <% end %>
    </div>
  </div>
  <div class="header-bottom">
    <p class="shop-nav">おくるみshopとは</p>
    <ul class="nav">
      <li>特集</li>
      <li>ランキング</li>
      <li>新着商品</li>
    </ul>
  </div>
</header>

<div class="top-box">
  <%= image_tag "top-img.jpg", class: "top-img" %>

  <div class="infomation">
    infomationの表示
  </div>
</div>

<div class="main-box">
  <h2>特集</h2>
  <ul class="pickup">
    <li>
      <%= image_tag "coon.jpeg", width: '300px', height: '200px' %>
      <p>Vegitable</p>
    </li>
    <li>
      <%= image_tag "animal.webp", width: '300px', height: '200px' %>
      <p>Original</p>
    </li>
    <li>
      <%= image_tag "gift.webp", width: '300px', height: '200px' %>
      <p>Gift</p>
    </li>
  </ul>
  <h2>ランキング</h2>
  <ul class="pickup">
    <li>
      <%= link_to "#" do %>
        <%= image_tag "coon.jpeg", width: '200px', height: '200px' %>
        <p>Vegitable</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= image_tag "animal.webp", width: '200x', height: '200px' %>
        <p>Animal</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= image_tag "gift.webp", width: '200x', height: '200px' %>
        <p>Gift</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= image_tag "gift.webp", width: '200x', height: '200px' %>
        <p>Gift</p>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <%= image_tag "gift.webp", width: '200x', height: '200px' %>
        <p>Gift</p>
      <% end %>
    </li>
  </ul>
  <h2>新着商品</h2>
  <ul class="pickup">
    <% @items.each do |item| %>
      <li>
        <%= link_to  item_orders_path(item) do %>
          <%= image_tag item.images[0].variant(resize:'200x200') %>
          <p><%= item.name %><%= item.price %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="announce">
  <div class="announce-sns">
    <h6>スマートフォン<br>アプリ</h6>
    <p>
      商品の購入、店舗の在庫確認、<br>
      アプリ限定のコンテンツやクーポンが<br>
      もらえるお得なアプリ。<br>
    </p>
    <p>詳しく見る<i class="fa fa-chevron-circle-right "></i> </p>
  </div>
  <div class="announce-sns">
    <h6>LINE公式<br>アカウント</h6>
    <p>
      友だち追加で、<br>
      商品の最新情報や<br>n
      お得な情報をお届け。<br>
    </p>
    <p>詳しく見る<i class="fa fa-chevron-circle-right "></i> </p>
  </div>
</div>

<footer>
  <div class="footer-left">
    <div class="fooer-box">
      <h6>会員サービス</h6>
      <p>ログイン<i class="fa fa-angle-right "></i></p>
      <p>新規会員登録<i class="fa fa-angle-right "></i></p> 
    </div>
    <div class="fooer-box">
      <h6>当サイトについて</h6>
      <p>おくるみshopとは<i class="fa fa-angle-right "></i></p>
      <p>お知らせ<i class="fa fa-angle-right "></i></p>
    </div>
    <div class="fooer-box">
      <h6>ご利用方法</h6>
      <p>お買い物ガイド<i class="fa fa-angle-right "></i></p>
    </div>
    <div class="fooer-box">
      <h6>ヘルプ</h6>
      <p>よくある質問<i class="fa fa-angle-right "></i></p>
    </div>
    <div class="fooer-box">
      <h6>大量購入・法人向けの方</h6>
      <p>100枚以上購入の方<i class="fa fa-angle-right "></i></p>
      <p>50枚以上の刺繍をご希望の方<i class="fa fa-angle-right "></i></p>
      <p>法人のお客様・OEM製造はこちら<i class="fa fa-angle-right "></i></p>
    </div>
    <div class="fooer-box">
      <h6>規約</h6>
      <p>利用規約<i class="fa fa-angle-right "></i></p>
      <p>個人情報保護方針<i class="fa fa-angle-right "></i></p>
      <p>特定商取引法<i class="fa fa-angle-right "></i></p>
    </div>
  <div class="fooer-right">
    <div class="contact">お問い合わせ</div>
    <p>おくるみshopオンラインストア</p>
    <p>〒123-4567</p>
    <p>福岡県福岡市博多区abcdef-1111</p>
    <p>okurumi-testtest@gmail.com</p>
    <div class="icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</footer>