<!DOCTYPE html>
<html>
  <head>
    <title>OkurumiShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="header-top">
          <%= link_to root_path do %>
            <%= image_tag "title-logo.png", class: "title-logo" %>
          <% end %>
          <div class="right-header">
            <% if user_signed_in? %>
              <%= link_to current_user.name, "#" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              <% if current_user.admin? %>
                <%= link_to new_item_path do %>
                  <i class="material-icons">create_new_folder</i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to "ログイン", new_user_session_path %>
              <%= link_to "会員登録", new_user_registration_path %>
            <% end %>
            <%= link_to "#" do %>
              <i class="material-icons">search</i>
            <% end %>
            <%= link_to "#" do %>
              <i class="material-icons">shopping_cart</i>
            <% end %>
          </div>
        </div>
        <div class="header-bottom">
          <p class="shop-nav">おくるみshopとは</p>
          <ul class="nav">
            <li>特集</li>
            <li>ランキング</li>
            <li>新着商品</li>
          </ul>
        </div>
      </header>
    <%# <% flash.each do |key, value| %>
      <%# <%= value %>
    <%# <% end %>
      <%= yield %>
    </div>

    <footer>
      <div class="footer-left">
        <div>
          <div class="footer-box">
            <h6>会員サービス</h6>
            <a>ログイン</a><i class="fa fa-angle-right "></i><br>
            <a>新規会員登録</a><i class="fa fa-angle-right "></i><br> 
          </div>
          <div class="footer-box">
            <h6>当サイトについて</h6>
            <a>おくるみshopとは</a><i class="fa fa-angle-right "></i><br>
            <a>お知らせ</a><i class="fa fa-angle-right "></i><br>
          </div>
          <div class="footer-box">
            <h6>ご利用方法</h6>
            <a>お買い物ガイド</a><i class="fa fa-angle-right "></i><br>
          </div>
          <div class="footer-box">
            <h6>ヘルプ</h6>
            <a>よくある質問</a><i class="fa fa-angle-right "></i><br>
          </div>
        </div>
        <div>
          <div class="footer-box">
            <h6>大量購入・法人向けの方</h6>
            <a>100枚以上購入の方</a><i class="fa fa-angle-right "></i><br>
            <a>50枚以上の刺繍をご希望の方</a><i class="fa fa-angle-right "></i><br>
            <a>法人のお客様・OEM製造はこちら</a><i class="fa fa-angle-right "></i><br>
          </div>
          <div class="footer-box">
            <h6>規約</h6>
            <a>利用規約</a><i class="fa fa-angle-right "></i><br>
            <a>個人情報保護方針</a><i class="fa fa-angle-right "></i><br>
            <a>特定商取引法</a><i class="fa fa-angle-right "></i><br>
          </div>
        </div>
      </div>
      <div class="footer-right">
        <div class="contact">お問い合わせ</div>
        <p>おくるみshopオンラインストア</p>
        <div>
          〒123-4567<br>
          福岡県福岡市博多区abcdef-1111
        </div>
        <p>okurumi-testtest@gmail.com</p>
        <div class="icons">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
